/*
* Safety Orange: #FF6000
* Dodger Blue: #008EFF
* Davys Grey: #4C4C4C
* Canary: #FFCB47
* Eerie Black: #1b1b1b
*/ 

/*
* Kalam: splashy and uppercase
* Open sans: body and sentence case
* Oswold: titles
* Montserrat: numbers only
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
/*Global items*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

body .btn-primary {
  background-color: #008EFF;
  border-color: #008EFF;
  border-radius: 30px;
}

h1, h2, h3 {
  font-family: 'Oswold', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

p {
  color: #4C4C4C;
  font-size: 1.1em;
}

body .card {
  border: none;
}

body ul {
  padding-left: 0;
}

.orange {
  background-color: #FF6000 !important;
  border-color: #FF6000 !important;
}

.blue {
  background-color: #008EFF !important;
  border-color: #008EFF !important;
}

/*Landing Page*/
.landing-page {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
  height: 90vh;
  background-image: url('../src/img/landing-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 5%;
  box-shadow: inset 0 0 0 1000px rgba(9, 54, 92, 0.7);
}

.logo-container, .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.logo-container .slogan {
  color: white;
  font-size: 1.5em;
  font-family: 'Kalam', cursive;
  text-transform: uppercase;
  font-weight: 700;
}

.login-sign-up-landing-container {
  background-color: dodgerblue;
  border-radius: 50px 0 0 0;
}

.landing-page button {
  border-radius: 50px 0 0 0;
  width: 100vw;
  height: 10vh;
  color: white;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.login-sign-up-landing-container .login-btn {
  background-color: dodgerblue;
  position: relative;
}

.login-sign-up-landing-container .signup-btn {
  background-color: #FF6000;
}

.landing-page .btn-primary {
  border-color: transparent;  
}

.landing-page .btn-primary:active, .landing-page .btn-primary:active:focus {
  box-shadow: none;
  border: none;
}

.landing-page .login-btn:active {
  background-color: dodgerblue;
}

.landing-page .signup-btn:active {
  background-color: #FF6000;
}

/*login / signup pages*/
.decorative-div-blue {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 40vh;
  top: 0px;
  background-color: #008EFF;
  border-radius: 0 0 0 50%;
}

.validation-form-container, .profile-container {
  background-color: #f0f0f0;
  height: 100vh;
  z-index: 1;
}

.link-btns-container {
  background-color: #008EFF;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  z-index: 5;
}

.previous-btn-container {
  z-index: 999;
}

.previous-icon {
  height: 25px;
  width: 25px;
}

.login-signin-links-container {
  display: flex;
  padding-left: 35px;
  padding-bottom: 10px;
  z-index: 5;
}

.login-signin-links-container .btn-primary {
  font-size: .8em;
  margin-right: 20px;
}

.login-signin-links-container #signup-page-signup {
  background-color: #FF6000;
}

.login-signin-links-container #login-page-login {
  background-color: #FF6000;
}

.validation-form-container .card {
  background-color: transparent;
  margin-top: 30px;
  z-index: 2;
}

.group-container {
  padding: 20px 20px 0 20px;
  border-radius: 30px;
  background-color: white;
  z-index: 3;
}

.logo-container-login-signup .logo {
  width: inherit;
}

.group-container .form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.long-btn {
  padding: 10px 0;
}

.long-btn .forgot-password, .long-btn a {
  text-decoration: none;
  color: white;
}

.form-check-label {
  color: #4C4C4C;
}

.form-button-submissions-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-button-submissions-container button {
  margin: 10px;
}

.validation-form-container.exp-form-container {
  margin-top: 0;
}

/*Dashboard v1.0*/
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#welcome-logo {
  border-radius: 50%;
  border: 30px solid #FF6000;
  margin: 20px;
  width: 90vw;
  height: 40%;
}

#welcome-logo .logo {
  border-radius: 50%;
  border: 30px solid #008EFF;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#welcome-logo .logo img {
  height: 120px;
  padding: 10px;
}


/*Account page*/
.account-page .btn-primary {
  position: absolute;
  top: 20px;
  background-color: transparent;
  border-color: transparent;
  z-index: 999;
}

.account-page {
  width: inherit;
}

.background-image, .profile-background-image {
  border-radius: 0 0 50px 0;
}

.profile-top-level-container {
  padding: 20px;
}

.profile-items-container {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  margin: 10px;
  padding-top: 10px;
   background-color: #fff;
}


/* update profile page*/



/*search and listing page*/
/* search and listing page */
.searchListing, .searchBarActions,
.searchBar, .searchBarActions, .filterOptions, .expertsFound, 
.expertsByCategory, .expertImmediateInformation, 
.expertName, #searchLogo {
  display: flex;
}

.search-list-card .card-body {
  padding: 0;
}

.searchBarActions {
  flex-direction: row;
}

.returnBack {
  margin-left: 5px;
}

.searchBarActions {
  align-items: center;
}

#categorySearch {
  background-color: dodgerblue;
  border: none;
  border: 0px solid;
  border-radius: 20px;
  padding-left: 10px;
  margin: 0 10px;

  width: 200px;
  font-size: .9em;
}

.searchBar textarea:focus, 
.searchBar input:focus, 
.searchBar textarea:active, 
.searchBar input:active {
  outline: none;
  color: white;
}

::placeholder {
  color: white;
}

.filterOptions .button {
  border-radius: 20px;
  padding: 5px 30px;
  border: 2px solid #FF6000;
  background-color: #fff;
  color: #FF6000;
  font-size: .9em;
  font-weight: bold;
  margin:10px 15px;
}

.filterOptions {
  justify-content: center;
}

.searchListing {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.expertsFound {
  list-style: none;
  flex-direction: column;
  width:100vw; 
}

.expertsByCategory {
  padding: 30px 30px 30px 0;
  justify-content: space-between;
}

.expertImage {
  padding: 20px;
}

.expertImmediateInformation {
  flex-direction: column;
}

.expertsFound li {
  width: 100%;
  border: 1px solid #008EFF;
  background-color: black;
  color: white;
}

.expertImage img {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #FF6000;
}

.star svg {
  fill: #fecb46;
}

/*Calendar*/
.calendar-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #008EFF;
}

.thing1-logo {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 60px 0 0 60px;
  width: 100%;
}

#calendar-logo {
  height: 100px;
  background-color: white;

}

.react-calendar {
  background: #008EFF;
  width: 100vw;
  border-color: transparent;
  line-height: inherit;
  margin-top: 1em;
  margin: 5px;
}

.react-calendar .abbr[data-bs-original-title], abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  padding: 35px 10px;
}

.react-calendar button {
  border-radius: 30px;

}

.react-calendar__month-view__days__day--weekend, 
.react-calendar .abbr[data-bs-original-title], abbr[title],
.react-calendar button
{
  color: white;
}

.react-calendar__tile--active, .react-calendar__tile--now,
.react-calendar__tile--active .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus
  {
  background-color: transparent;
}

.react-calendar__tile--active abbr {
  background-color:#FF6000;
  border-radius: 50%;
  padding: 10px 10px;
}


@media (max-width: 800px) {
  body, html {
      height: 100vh;
      width: 100%;
  }
}